body {
  background: #dddddd;
}

.lead {
  margin-bottom: .5rem;
  margin-top:5px;
}

.page-header {
  border-bottom: none;
}

.textcenter {
  text-align: center;
}

.hrclassy {
  width:60%;
  margin-top: 15px;
  border: 0;
  border-top: 2px solid #777777;
}

.application {
  margin-top:2rem;
  background: #DEE6ED;
  border:3px solid #666666;
  border-radius: 10px;
  box-shadow: 5px 10px 5px #888888;
  min-width: 450px;
}

.red {
  background: #DB94A2;
}
.green {
  background: #A1D590;
}
.yellow {
  background: #F1E6A2;
}
.big_button {
  font-size: medium;
}
.big_button:active{
  border:3px solid #888888;
  box-shadow: 0px -1px 2px #666666;
}

.light{
  height: 2em;
  width: 2em;
}
.light.frame{
  border: .2em solid black;
  margin: auto;
}
.light.holder {
  position: absolute;
  background: black;
}
.light.bulb {
  position: absolute;
  border: 0px;
  border-radius: 1em;
}
.light.off{
  background: white !important;
}

/* REPRODUCED FROM SKELETON CSS EXAMPLE SITE */
.grid-example .column,
.grid-example .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem; }
.example-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600; }
li {
  margin-bottom: 0px;
}
ol ol, ol ul, ul ol, ul ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* Larger than tablet */
@media (min-width: 550px) {

  hr {
    margin-top: 3rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1; }

  .hrclassy {
    width:65%;
  }

  .big_button {
    font-size: large;
  }

  .lead {
    margin-bottom: 1.5rem;
    margin-top:15px;
  }

  .application {
    padding-bottom:15px;
  }
}
