body {
  background: #dddddd;
}

.lead {
  margin-bottom: .5rem;
  margin-top:5px;
}

.page-header {
  border-bottom: none;
}

.textcenter {
  text-align: center;
}

.hrclassy {
  width:60%;
  margin-top: 15px;
  border: 0;
  border-top: 2px solid #777777;
}

.application {
  margin-top:2rem;
  background: #DEE6ED;
  border:3px solid #666666;
  border-radius: 10px;
  box-shadow: 5px 10px 5px #888888;
  min-width: 450px;
}

.red {
  background: #DB94A2;
}
.green {
  background: #A1D590;
}
.big_button {
  font-size: medium;
}
.big_button:active{
  border:3px solid #888888;
  box-shadow: 0px -1px 2px #666666;
}

/* Larger than tablet */
@media (min-width: 550px) {

  hr {
    margin-top: 3rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1; }

  .hrclassy {
    width:50%;
  }

  .big_button {
    font-size: large;
  }

  .lead {
    margin-bottom: 1.5rem;
    margin-top:15px;
  }

  .application {
    padding-bottom:15px;
  }
}
